h1 {
      color: red;
      font-size: 15px;
  }
  div {
    border: solid 1px red;
    border-width: 5px 10px 15px 5px;
    border-color: yellow blue red;
    border-radius: 5px 10px 15px;
    background-color: green;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
    

  }